:host {
    position: relative;
    display: inline-block;
    width: 100%;
}

paper-button {
    /*text-align: center;*/
    /*position: absolute;*/
    line-height: 2em;
    font-size: 26px;
    width: 100%;
    color:#333;
}

urban-login > .transparent,
:host .transparent {
    opacity: 0;
}

urban-login > .hidden,
:host .hidden {
    display: none;
}

urban-login > .disable,
:host .disable {
    pointer-events: none;
}

:host #container {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

:host #loadState,
urban-login> #loadState {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

:host #loadIconWrapper,
urban-login > #loadIconWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

:host #loadIconWrapper svg,
urban-login > #loadIconWrapper svg {
    /*fill: white;*/
}

:host .transition {
    transition: .3s linear;
    -webkit-transition: .3s linear;
}

core-icon.active {
    -webkit-animation: spin .5s linear infinite;
    animation: spin .5s linear infinite;
}

:host .out {
    -webkit-animation: out 1s ease-in forwards;
    animation: out 1s ease-in forwards;
}

:host .in {
    -webkit-animation: in 1s ease-out forwards;
    animation: in 1s ease-out forwards;
}

/*
 * Animations
 */

/* Spinning */
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate( 0deg )
    }
    to {
        -webkit-transform: rotate( 180deg )
    }
}

@keyframes spin {
    from {
        transform: rotate( 0deg )
    }
    to {
        transform: rotate( 180deg )
    }
}

/* Slide out */
@-webkit-keyframes out {
    from {
        opacity: 1;
        -webkit-transform: translateY( 0px ) scale( 1, 1 );
    }
    to {
        opacity: 0;
        -webkit-transform: translateY( -10px ) scale( .8, .8 );
    }
}
@-keyframes out {
    from {
        opacity: 1;
        transform: translateY( 0px ) scale( 1, 1 );
    }
    to {
        opacity: 0;
        transform: translateY( -10px ) scale( .8, .8 );
    }
}

/* Slide in */
@-webkit-keyframes in {
    from {
        opacity: 0;
        -webkit-transform: translateY( 20px ) scale( .8, .8 );
    }
    to {
        opacity: 1;
        -webkit-transform: translateY( 0px ) scale( 1, 1 );
    }
}
@-keyframes in {
    from {
        opacity: 0;
        transform: translateY( 20px ) scale( .8, .8 );
    }
    to {
        opacity: 1;
        transform: translateY( 0px ) scale( 1, 1 );
    }
}
